@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(255, 245, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 90%;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.hidden {
    display: none;
}

#home {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #444;
}

.btn {
    background-color: #ff5722;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    background-color: #e64a19;
    transform: translateY(-0.2rem);
}

.game-box {
    padding: 2rem;
}

.question-container {
    margin-bottom: 2rem;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.ans-button {
    padding: 1rem;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ans-button:hover {
    background-color: #e64a19;
}

.correct {
    background-color: #4caf50 !important;
}

.incorrect {
    background-color: #f44336 !important;
}

.headUp-disp {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.progress-bar {
    height: 20px;
    background-color: #ddd;
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress-bar #progress {
    height: 100%;
    background-color: #ff5722;
    transition: width 0.3s ease;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
}
